/**
 * ==========================================================================
 * style. css - Global styles for the MyRWD website
 * ==========================================================================
 *
 * Created March 23, 2014
 *
 * Authored by Michele Piccaro
 *
 */
 
 /* ----- Basic styling ----- */
 
body {
  background-color: lightblue;
}

#page-wrapper {
  max-width: 960px;
  margin: 0 auto;
  background-color: white;
}

#content {
  padding: 0em 1em;
  margin-bottom: 10px;
  background-color: #f7f2da;
}

nav {
  padding: 0;
  margin: 0;
  background-color: gray;
}

nav ul {
  padding: 3px 10px;
  list-style-type: none;
}

footer {
  clear:both;
}

/* ----- Ad Styling ----- */

.wide-skyscaper-ad {
  width: 160px;
  height: 600px;
  background-color: silver;
}

/* ----- Three-Column Fixed Layout ----- */


#page-wrapper {
  width: 960px;
}

nav {
  float: left;
  width: 175px;
  -mox-box-sizing: border-box;
  box-sizing: border-box;
}

#content {
  float: left;
  width: 625px;
  -mox-box-sizing: border-box;
  box-sizing: border-box;
}

#sidebar {
  float: left;
  width: 160px;
  -mox-box-sizing: border-box;
  box-sizing: border-box;
}